body{
    margin: 0px;
    background-color: lightgray;
    font-family: Arial;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding-bottom: 2000px;
}
.My-story{
    background-color:lightgray;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    padding-left: 2px;
}
.foto{
    filter:blur(0px);
    -webkit-box-reflect:below 10px url(images/half\ box.psd);
    transition: 1s;
    

}
.scroll{
    -webkit-box-reflect:unset;
}
.foto:hover{
    filter: none;
}
