html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    background-color: rgb(178, 202, 233);
    font-family: Arial;
    padding-top: 101px;
}
.Header-div{
    border-bottom: 1px solid black;
}
.Contact{
    background-color:lightgray;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    padding-left: 2px;
}
.catdiv{
    background-color: rgb(178, 202, 233);
    display: flex;
    width: 100%;
    height: 100px;
    position: fixed;
    justify-content:space-between;
    border-bottom: 1px solid black;
    color:  rgb(42, 95, 165);
}
.moveitem{
    width: 50px;
    height: 20px;
    background-color: rgb(42, 95, 165);
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 90px;
}
.moveButton{
    top: 0;
}
.left-cat{
    display: flex;
    flex: 1;
    align-items: center;
    width: 500px;
    font-size: 25px;
    font-weight: 600;
}
.filterdiv{
    background-color: rgb(178, 202, 233);;
    cursor: pointer;
    position: relative;
    display: flex;
    padding: 5px;
}
.categories{
    position: absolute;
    display: flex;
    left: -100%;
    transition: all 0.6s linear;
    z-index: -1;
    justify-content: space-around;
    width: 500px;
    cursor: pointer;
    
}
.categories div{
    padding: 5px;
    border-radius: 5px;
}
.categories div:hover{
    background-color: rgba(115, 138, 214, 0.295);
}
.movecategories{
    left: 5%;
    z-index: 0;
}
.categories div::after {
    background-color: #000000; 
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    width: 0;
    transition: all 0.2s linear;
}
.categories div.slidebeam::after{
    width: 100%;
}
.fa-caret-down{
    margin-left: 5px;
}
.right-cat{
    display: flex;
    height: 100%;
    align-items: center;
    width: 150px;
    justify-content: space-around;
    position: relative;
    margin-right: 50px;
}
.Ricon{
font-size: 50px;
cursor: pointer;
padding: 15px;
justify-content: center;
align-items: center;
transition: 500ms;
border-radius: 100%;
}
.heartIcon{
    padding: 15px 19.091px;
}
.cartIcon:hover, .heartIcon:hover{
    background-color:  rgb(42, 95, 165);
    color: rgb(68, 68, 68);
}
.hoverCart{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(68, 68, 68);
    border-radius: 5px;
    padding: 2px;
    visibility: hidden;
    opacity: 0.7;
    top: 95%;
    left: 50%;
    text-align: center;
    
}
.cartquantity{
    color: rgb(255, 255, 255);
    text-decoration: none;
    position: absolute;
    background-color: rgb(42, 95, 165);
    border-radius: 100%;
    font-size: 25px;
    width: 35px;
    height: 35px;
    left: 70%;
    top: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.hoverHeart{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(68, 68, 68);
    border-radius: 5px;
    padding: 2px;
    visibility: hidden;
    opacity: 0.7;
    top: 95%;
    text-align: center;
    left: -2%;
}
.cartIcon:hover .hoverCart {
visibility: visible;
}
.heartIcon:hover .hoverHeart{
    visibility: visible;
}
/*category bar*/
.upbutton{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 10px;
    visibility: hidden;
    border: 1px solid black;
}
.upbutton:hover{
    background-color: rgba(150, 150, 150, 0.4);
    color: white;
}
.scrollup{
visibility: visible;
}
.productfield{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 5px;
    row-gap: 5px;
    margin: 100px 25px 0px 25px;
}
.movemargin{
    margin-top: 0px;
}
.productdiv{
    display: flex;
    background-color: white ;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    justify-content: center;
}
.productname{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 700;
}
.productimgdiv{
    display: flex;
    justify-content: center;
    height: 100%;
    cursor: pointer;
}
.productimgdiv img{
    object-fit: contain;
    width: 100%;
    height: 350px;
}
.productprice{
    font-weight: 700;
    font-size: 20px;
    color: rgb(14, 87, 0);
    padding: 5px 0px;
}
.productbuttons{
    display: flex;
}
.fa-solid{
    padding-top: 4px;
}
.productlike button{
    padding: 0px;
    padding-bottom: -5px;
    height: 100%;
    width: 58px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(42, 95, 165);
    color: rgb(255, 255, 255);
}
.productlike button:hover{
    color: rgb(223, 223, 223);
    background-color:  rgb(28, 64, 112);
}
.productcart{
    display: flex;
    flex: 1;
    justify-content: center; 
}
.Productcartbutton{
    padding: 0px 150px 0px 150px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 50px;
    background-color:rgb(42, 95, 165);
    color:rgb(255, 255, 255);
}
.productcart button:hover{
    color: rgb(223, 223, 223);
    background-color:rgb(28, 64, 112);
}
.productinfo{
    background-color: rgb(255, 255, 255);
    border:  rgb(42, 95, 165) solid 1px;
    position:fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    height:fit-content;
    max-height: 603px;
    width: 30%;
    max-width: 800px;
    overflow: scroll; 
    visibility:hidden;
    grid-template-columns: 5fr 1fr;
}
.infovisable{
    visibility: visible;
}
.infotopleft{
    display: flex;
    flex-direction: column;
}
.infoname{
    font-size: 30px;
    font-weight: 600;
    margin-left:10px;
}
.infoimg{
    display: flex;
    justify-content: center;
    padding-right: 5px;
    width: 100%;
    height: 100%;
   justify-content: center;
}
.infoimg img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
.infotopright{
    margin-top: 35px;
    margin-left: 5px;
}
.infoprice{
    color: red;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 0px 20px 0px;
}
.infoinventory{
    display: inline-block;
    color: rgb(0, 75, 0);
    border: green solid 1px;
    padding: 3px;
}
.infodelivery{
    margin: 10px 0px 30px 0px;
    color: rgb(0, 75, 0);
    font-style: italic;
}
.info button{
    padding: 0px 50px 0px 50px;
}
.productdescription p{
font-size: 20px;
font-weight: 600;
}
.productspecs p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.specificationtext p{
    font-style: italic;
    margin: 7px 0px;
    font-size: 17px;
    font-weight: 500;
}

@media (max-width: 2000px) {
    .productfield{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1550px) {
    .productfield{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1050px) {
    .productfield{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (max-width: 600px) {
    .right-cat{
        margin-right: 0px;
    }
    .Ricon{
        padding: 0px;
    }
    .left-cat{
        font-size: 20px;
    }
    .productfield{
        margin-left: 5px;
        margin-right: 5px;
    }
    .productimgdiv img{
        height: 250px;
    }
    .productcart button{
        padding: 0px 100px 0px 100px;
    }
}


